<h2>Presentations</h2>

<% @presentations.each do |presentation| %>
<div class="col-xs-12 col-sm-4 col-md-4">
  <div class="thumbnail">
    <%= link_to image_tag("image.svg", size: '350x350'), presentation_path(presentation) %>
    <div class="caption">
      <p></p>
      <h5><%= link_to truncate(presentation.title), presentation_path(presentation) %></h5>
      <p><a href="#" class="fa fa-heart pull-right"></a> <a href="#" class="fa fa-download pull-right"></a> <a href="#" class="fa fa-share pull-right" ></a></p>
    </div>
  </div>
</div>
<% end %>