#navbar-top {
  margin-bottom: 0px;
  border: none;
}
#category-bar {
  background: none;
  filter: none;
  border: none;
  box-shadow: none;
  min-height: 30px;
  background-color: #333333;
  border-radius: 0px;
}